<% if !current_user.validated %>
  <div id="new-appointment-form" class="formbox disabled-appointment-form">
<% else %>
  <div id="new-appointment-form" class="formbox">
<% end %>
  <h4 class="form-title" id="appointment-form-title">
    Solicitud de Citas
  </h4>
  <%= form_tag(add_appointment_patients_path, method: "post", remote: true, id: "appointment_form", class: "form", novalidate: "novalidate", 'data-abide': ' ') do %>
    <div class="form-field">
      <% @clinics = Clinic.all %>
      <% if !current_user.validated %>
        <%= select_tag "clinic", options_from_collection_for_select(@clinics, "id", "name", prompt: "Centro Médico"), prompt:  "Centro Médico", 'required': " ", disabled: true, class: 'disabled-select' %>
      <% else %>
        <%= select_tag "clinic", options_from_collection_for_select(@clinics, "id", "name", prompt: "Centro Médico"), prompt:  "Centro Médico", 'required': " ", class: '' %>
      <% end %>
    </div>
    <div class=" form-field">
      <% @services = Service.all %>
      <%= select_tag :service_id, options_for_select(@services.map { |c| [c.name, c.id, {:'data-clinic' => c.clinic_id}]}), prompt: "Área Médica", disabled: true, 'required': " ", class: 'disabled-select' %>
    </div>
    <div class=" form-field">
      <%= text_field_tag('appointment_date', nil, placeholder: "Fecha", disabled: true, 'required': " ", readonly: true, class: "", id: "appointment_date") %>
      <%# text_field_tag('appointment_date', nil, placeholder: "Fecha", disabled: true, 'required': " ", readonly: true, class: "in-mobile", id: "appointment_date_mobile") %>
    </div>
    <div class=" form-field">
      <%= text_field_tag("appointment_hour", nil, placeholder: "Hora", disabled: true, 'required': " ", readonly: true)  %>
    </div>
    <div class="">
      <p class="alert-text" id="appointment-form-text">
        El centro médico de su elección lo contactará por vía telefónica para confirmar su cita.
      </p>
    </div>
    <div class=" form-field button-container">
      <%= submit_tag("Enviar Solicitud", disabled: true)  %>
    </div>
  <% end %>
</div>
<div class="decoration-spd"></div>
